.header { 
    background-color: #1f2937 ;
    color: white;
    display: flex;
    justify-content: space-around;
    
    
    

}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    
}
.links{
    display: flex;
    gap: 20px;
    align-content: center;
    flex-wrap: wrap;    

}
   